<h1>Listing publishers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>Country</th>
      <th>City</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= link_to publisher.name, publisher %></td>
        <td><%= publisher.year %></td>
        <td><%= publisher.country %></td>
        <td><%= publisher.city %></td>
        <td><%= link_to 'Edit', edit_publisher_path(publisher) , :class=>"edit"%></td>
        <td><%= link_to 'Destroy', publisher,:class=>"destroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button 'New Publisher', new_publisher_path , :class=>"new"%>
