<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.game.name %></td>
        <td><%= rating.score %></td>
        <td><%= button 'Show', rating %></td>
        <td><%= button 'Edit', edit_rating_path(rating) , :class =>"btn btn-warning"%></td>
        <td><%= button 'Destroy', rating,:class =>"btn btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button 'New Rating', new_rating_path, :class =>"btn btn-primary" %>
