<h2>  <%= @game.name %></h2>

<p>
  <strong>Publisher:</strong>
  <%= @game.publisher %>
</p>
<p>
  <strong>Published:</strong>
  <%= @game.year %>
</p>

<%= render 'games/average_ratings', ratings:@game.ratings %>

<%= link_to 'Edit', edit_game_path(@game) ,:class=>"edit"%> 
